<?xml version="1.0" encoding="utf-8" ?>
<nlog>
	<targets>
		<target name="baseFile" type="File" fileName="C:\Users\consani\source\repos\QuestCalculator1\Pilot-FrameWork\base.log" layout="${longdate} ${level:uppercase=true} ${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="baseFile" />
	</rules>
</nlog>
